
   <HTML>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

      <link rel="stylesheet" href="css/default.css">
   <link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/commande.css">

   <!-- Script
   ================================================== -->
   <script src="js/modernizr.js"></script>

    <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
         <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#portfolio">Menu</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#testimonials">Z-News</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->
      

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->
     <section id="about">


      <div class="row1">

         <div class="three columns">

            <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">
                   <div class="eight columns">
<section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

           

         </div>

         <div class="row">

           <div class="eight columns">

            

               <fieldset>
<?PHP
include "../Entities/Commande.php";
include "../Cores/CommandeC.php";
$commande1C=new CommandeC();
$cin = $_POST['cin'];


 

   echo "<script>alert(\"Connectez vous\")</script>";

$listeCommandes=$commande1C->afficherCommande($cin);

//var_dump($listeCommandes->fetchAll());

// var_dump($listeCommandes->fetchAll());
         
foreach($listeCommandes as $data)
     
                        echo  "<class='eight columns'>";
                              echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['cin']."</p>";
                         

                            echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['nom']."</p>";
                     

                            echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px;overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['prenom']."</p>";
                           

                            echo "<p class='desc' style='position:relative;bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['numero']."</p>";
                           

                            echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['email']."</p>";
                       
                            echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['heures']."</p>";
                          
                             echo "<p class='desc' style='position:relative;bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['minutes']."</p>";
                           
                 

                             echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['produits']."</p>";
                         
                             echo "<p class='desc' style='position:relative;bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['prix']."</p>";
                            
                             echo "<p class='desc' style='position:relative;bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['quantite']."</p>";
                            
                             echo "<p class='desc' style='position:relative; bottom: 25px; left: 20px;width:15px; overflow:visible; border-top: 2px inset grey;border-bottom: 2px inset grey;'>".$data['etat']."</p>";
                            echo "</div>";
                             
            

               echo" <h4>Address and Phone</h4>";
                 echo"  <p  class='address'> ";
                    echo" LE ZINK <br>
                     Rue Salah Ben Mahmoud Menzah 1 <br>
                     Tunis 1004, Tunisie<br>
                     <span>(216) 22 420 010</span></p>";



   
               ?>                   

               </fieldset>
               </form> <!-- Form End -->
               <!-- contact-warning -->
             

   
         </section>
    </div>


            

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>
  </section>
              
             
       <div class="row">

           
 <div class='eight columns'>
  
</div>
</div>
</footer>
   
 
  </HTMl>
 
   







?>