
<HTML>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	   <link rel="stylesheet" href="css/default.css">
	<link rel="stylesheet" href="css/layout.css">
   <link rel="stylesheet" href="css/media-queries.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
      <link rel="stylesheet" href="css/commande.css">

   <!-- Script
   ================================================== -->
	<script src="js/modernizr.js"></script>

	 <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	      <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#portfolio">Menu</a></li>
            <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li>
            <li><a class="smoothscroll" href="#testimonials">Z-News</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->
      

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->

    <section id="about">


      <div class="row1">

         <div class="three columns">

            <img class="profile-pic"  src="images/profilepic.jpg" alt="" />

         </div>

         <div class="nine columns main-col">

            

                   <div class="eight columns">
<section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

           

         </div>

         <div class="row">

     <div class="eight columns"> 
             
           

                  <p class="submit2" Votre Commande est supprimer affec succee></p>
                  

                 
<?PHP
include "../Entities/Commande.php";
include "../Cores/CommandeC.php";
if (isset($_POST['cin'])){
$commandeC=new CommandeC();
	$commandeC->supprimerCommande($_POST["cin"]);

    echo "<script>alert(\"Connectez vous\")</script>";
}


?>
 <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
				   <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
				</div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

					   <h4>Address and Phone</h4>
					   <p class="address">
						   LE ZINK<br>
						   Rue Salah Ben Mahmoud Menzah 1 <br>
						   Tunis 1004, Tunisie<br>
						   <span>(216) 22 420 010</span>
					   </p>
					


    </aside>

      </div>

   </section>
    </div>

            

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section>

</HTMl>










